body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 800px;
}

input, select, button {
    max-width: 100%;
    padding: 14px;
    width: 95%;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#operationType{
    width: 99%;
}

button {
    background-color: #0056b3;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 99%;
}

button:hover {
    background-color: #004494;
}
